{% extends 'base.html' %}
{% block content %}

<h1>Пользователь: {{ user.username }} </h1>
<h2>Подписан на:<a href = "{{ url_for('main.followed', username = user.username) }}"> {{ user.followed.count() }}</a>
	Подписчиков: <a href = "{{ url_for('main.followers', username = user.username) }}">{{ user.followers.count()}}</a></h2>

{% if not user.private_stat or current_user == user or current_user.is_following(user) %}
	{% for drink in drinks %}
		<p>{{ drink.author.username }} выпил в {{ moment(drink.drinkTime).format('LLL') }}</p>
	{% endfor %}
{% else %}
	<p> Пользователь предпочел скрыть данную страницу </p>
{% endif %}
{% if prev_url %} <a href = "{{ prev_url }}"> << </a> {% endif %}
{% if next_url %} <a href = "{{ next_url }}"> >> </a> {% endif %}
<br>
{% for page in drinks_pagination %}
	{% if page == None %}
	...
	{% else %}
	<a href = "{{ url_for('main.user', username = user.username, page = page) }}"> {{ page }}</a>
	{% endif %}
{% endfor %}

{% if user != current_user %}
{% if current_user.is_following(user) %}
	<p><a href = "{{ url_for('main.unfollow', username = user.username) }}"> Отписаться </a></p>
{% else %}
	<p><a href = "{{ url_for('main.follow', username = user.username) }}"> Подписаться </a></p>
{% endif %}
{% endif %}

{% if current_user == user %}
	<p></P><a href = "{{ url_for('main.edit_profile') }}">Редактировать профиль</a></p>
{% endif %}

{% endblock %}