{% extends 'base.html' %}
{% block content %}

<table border = "1">
	<caption>Подписки</caption>
	<tr><th>Имя пользователя</th></tr>
	{% for followed in followeds %}
		<tr><td><a href = "{{ url_for('user', username = followed.username) }}">{{ followed.username }}</a></td>
			{% if current_user.username != followed.username %}
			{% if current_user.is_following(followed) %}
			<td><a href = "{{ url_for('unfollow', username = followed.username) }}">Отписаться</a></td>
			{% elif not current_user.is_following(followed) %}
			<td><a href = "{{ url_for('follow', username = followed.username) }}">Подписаться</a></td>
			{% endif %}
			{% endif %}
		</tr>
	{% endfor %}
</table>

{% endblock %}