{% extends 'base.html' %}
	{% block content %}
	<h1> Привет, {{ current_user.username }}!</h1>
	<h2> Выпить ?</h2>
    <form action="" method="post">
    	{{ form.hidden_tag() }}
    	<p>{{ form.submit() }}</p>
    </form>
    <hr>
    <p>Посмотри, что происходит:</p>
    {% for drink in drinks %}
    	<p>{{ drink.author.username }} выпивает в {{ drink.drinkTime }}</p>
    {% endfor %}
    {% if next_url %} <a href = "{{ next_url }}">Следующая страница</a> {% endif %}
    {% if prev_url %} <a href = "{{ prev_url }}">Предыдущая страница</a> {% endif %}
    <p> Текущая страница: {{ page }} из {{ total_pages }}</p>
    {% for page in drinks_pagination %}
        {% if page == None %}
            ...
        {% else %}
            <a href ="/?page={{ page }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}
