{% extends 'base.html' %}
{% block content %}

<h1>Пользователь: {{ user.username }} </h1>
<h2>Подписан на:<a href = "{{ url_for('followed', username = user.username) }}"> {{ user.followed.count() }}</a> 
	Подписчиков: <a href = "{{ url_for('followers', username = user.username) }}">{{ user.followers.count()}}</a></h2>

{% if user.private_stat and current_user != user %}
<p>Пользователь предпочел скрыть инфорамацию</p>
{% endif %}

{% if user != current_user %}
{% if current_user.is_following(user) %}
	<p><a href = "{{ url_for('unfollow', username = user.username) }}"> Отписаться </a></p>
{% else %}
	<p><a href = "{{ url_for('follow', username = user.username) }}"> Подписаться </a></p>
{% endif %}
{% endif %}

{% if not user.private_stat or current_user == user %}
	{% for drink in drinks %}
		<p>{{ drink.author.username }} выпил в {{ drink.drinkTime }}</p>
	{% endfor %}
{% endif %}

{% if current_user == user %}
	<a href = "{{ url_for('edit_profile') }}">Редактировать профиль</a>
{% endif %}

{% endblock %}